<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto | Xiinbal Tours</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>

    <div id="header"></div>

    <main>
        <section class="hero" style="background-image: url('../assets/img/contact.jpg');">
            <div class="hero-overlay">
                <div class="container hero-content">
                    <h1>Contacto</h1>
                    <p>Cualquier duda o sugerencia, no dude en mandarnos un mensaje.

                        ¡Por su atención gracias!</p>

                    <div class="hero-buttons">
                        <a href="#contact-section" class="btn btn-primary">
                            Solicitar información
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact-section" id="contact-section">
            <div class="container contact-wrapper">

                <div class="contact-form-card">
                    <h2>Envíanos Un Mensaje</h2>

                    <form class="contact-form">
                        <input type="text" placeholder="Nombre" />
                        <input type="email" placeholder="Email" />
                        <input type="text" placeholder="Núm. Contacto." />
                        <input type="text" placeholder="Asunto" />
                        <textarea placeholder="Mensaje"></textarea>

                        <button type="submit" class="contact-submit-btn">Enviar</button>
                    </form>
                </div>

                <div class="contact-info-card">
                    <h2>Información De Contacto</h2>

                    <div class="contact-info-grid">

                        <div class="contact-info-item">
                            <div class="contact-icon">📞</div>
                            <div>
                                <h3>Llámanos</h3>
                                <p>Cel: 5540824593 / 5576863748</p>
                                <p>Tel: 5563870513</p>
                            </div>
                        </div>

                        <div class="contact-info-item">
                            <div class="contact-icon">📍</div>
                            <div>
                                <h3>Ubicación</h3>
                                <p>
                                    Plaza Tláhuac local Z 03 Planta Alta,
                                    con domicilio Av Tláhuac 5295 Col Los Olivos,
                                    Alcaldía Tláhuac. Cp 13210
                                </p>
                            </div>
                        </div>

                        <div class="contact-info-item">
                            <div class="contact-icon">✉️</div>
                            <div>
                                <h3>Email</h3>
                                <p>amartinez@xinbaltours.com</p>
                                <p>informes@xinbaltours.com</p>
                            </div>
                        </div>

                        <div class="contact-info-item">
                            <div class="contact-icon">🕒</div>
                            <div>
                                <h3>Horarios</h3>
                                <p>Lun-Vie: 11 AM - 6 PM</p>
                                <p>Sáb: 12 AM - 4 PM</p>
                                <p>Dom: Previa cita.</p>
                            </div>
                        </div>

                    </div>

                    <div class="contact-social">
                        <h3>Síguenos</h3>

                        <div class="contact-social-links">
                            <a href="https://www.facebook.com/XiinbalTours/" target="_blank" class="social-box facebook" aria-label="Facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="https://www.instagram.com/viajesxiinbaltours/" target="_blank" class="social-box instagram" aria-label="Instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#" target="_blank" class="social-box whatsapp" aria-label="WhatsApp">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="contact-map-section">
            <div class="container">
               
                <div class="contact-map-wrapper">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.4883977969694!2d-99.0618224!3d19.304602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce032e426666ed%3A0x1b8ee89750566374!2sPlaza%20Tl%C3%A1huac!5e0!3m2!1ses-419!2smx!4v1773719760240!5m2!1ses-419!2smx"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </section>

    </main>

    <div id="footer"></div>

    <script src="../js/partials.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/menu.js"></script>
</body>

</html>